a {
    display: block;
    max-width: 25em;
    padding: .25rem;
    border: 1px solid black;

    text-decoration: none;
    text-align: center;
    line-height: 3em;
    color: black;

    transition: all .2s linear;
}

a:hover {
    background-color: #ebebeb;
}

.chessTable {
    display: inline-block;
    border: 1px solid black;
    border-collapse: collapse;

    margin: 2rem;
}

caption {
    padding: .5rem;
}

.cell {
    width: 2em;
    height: 2em;

    text-align: center;
    vertical-align: middle;
}

tr:nth-child(even) .cell:nth-child(odd) {
    background-color: darkgray;
}

tr:nth-child(even) .cell:nth-child(even) {
    background-color: #ebebeb;
}

tr:nth-child(odd) .cell:nth-child(even) {
    background-color: darkgray;
}

tr:nth-child(odd) .cell:nth-child(odd) {
    background-color: #ebebeb;
}

.sideBar {
    padding: .5rem;

    text-align: center;
    vertical-align: middle;

    font-size: .5em;

}

.sideBar--top {
    border-bottom: 1px solid black;
    transform: rotate(180deg);
}

.sideBar--right {
    border-left: 1px solid black;
    transform: rotate(180deg);
}

.sideBar--bottom {
    border-top: 1px solid black;
}

.sideBar--left {
    border-right: 1px solid black;
}
