* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.game-wrapper {
    display: flex;
    flex-wrap: wrap;
}

.field {
    border-collapse: collapse;

}

.field + .field {
    margin-left: 20px;
}

td {
    text-align: center;
    vertical-align: middle;

    padding: .1rem;
}

.cell {
    width: 25px;
    height: 25px;
    border: 1px solid black;
}
